<!doctype html>
<html>
   <head>
      <title>Spot Search</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->

			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
			<!-- ANGULAR stuff -->
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
			<script src="js/appRoutes.js"></script>
			<script src="js/app.js"></script>
			<script type='text/javascript'>

			$( document ).ready(function() {

			});
				function gotoUrl(url){
					// alert('need to go to url '+url);
					window.location.href=url;
				}

				function searchOnEnter(event){
						if(event.keyCode==13){
							search();
						}
				}

				function search(){
					//construct the url
					var field=document.getElementById('searchField');

					currentUrl=window.location.href;
					url=currentUrl.split('/')[0]+'?myquery='+field.value;
					gotoUrl(url);
					return true;
				}
			</script>
  </head>
  <body>

		<div class="card-panel teal lighten-2 topBar">
			<div class='row'>
				<div class='col s8'>
					<input id='searchField' onkeyup='searchOnEnter(event)' type='text' placeholder="Tracks, Artists and Albums..."/>
				</div>
				<div class='col s4'>
					<a class='waves-effect waves-light btn' href='javascript:search()'>
						<i class='material-icons left'>search</i>
						Search
					</a>
				</div>
			</div>
		</div>
		<div class='container'>
			<h6>Showing results for <span style="font-weight:bold;"><%=itemToSearch%></span></h6>
			<div class='row'>
				<div class='col s12'>
					<ul class='tabs'>
						<li class='tab col s3'><a href="#tracksContainer" class='active'>Tracks</a></li>
						<li class='tab col s3'><a href="#artistsContainer">Artists</a></li>
						<li class='tab col s3'><a href="#albumsContainer">Albums</a></li>
					</ul>
				</div>
				<% var data= JSON.parse(result)%>
				<div id='tracksContainer' class='col s12'>
					<ul class='cardList'>

						<% data.tracks.items.forEach(function(track){%>
						<li>
							<div class='row hoverable waves-effect' style='height:150px' onclick="gotoUrl('<%=track.external_urls.spotify%>')">
								<div class='col s4'>
									<img src='<%=track.album.images[1].url %>' alt="art" width="100%"/>
								</div>
								<div class='col s8'>
									<div class='row'>
										<div class='col s12'>
											Title: <%= track.name %>
										</div>
									</div>
									<div class='row'>
										<div class='col s12'>
											Album: <%=track.album.name%>
										</div>
									</div>
									<div class='row'>
										<div class='col s12'>
											Artist: <%=track.artists[0].name%>
										</div>
									</div>
									<div class='row'>
										<div class='col s12'>
											Duration
										</div>
									</div>
								</div>
							</div>
							</li>
							<% }); %>
						</ul>
				</div>
				<div id='artistsContainer' class='col s12'>
					<ul class='cardList'>

						<% data.artists.items.forEach(function(artist){%>
						<li>
							<div class='row hoverable waves-effect' style='height:150px' onclick="gotoUrl('<%=artist.external_urls.spotify%>')">
								<div class='col s4'>
									<img src='<%=artist.images[1].url %>' alt="art" width="100%"/>
								</div>
								<div class='col s8'>
									<div class='row'>
										<div class='col s12'>
											Name: <%= artist.name %>
										</div>
									</div>
									<div class='row'>
										<div class='col s12'>
											Genre: <%
											if(artist.genres.length>0){%>
												<%=artist.genres%>
											<%}else{
													%>
													-
													<%
											}
											%>
										</div>
									</div>
									<div class='row'>
										<div class='col s12'>
											Popularity: <%=artist.popularity%>/100
										</div>
									</div>
								</div>
							</div>
							</li>
							<% }); %>
						</ul>
				</div>
				<div id='albumsContainer' class='col s12'>
					<ul class='cardList'>

						<% data.albums.items.forEach(function(album){%>
						<li>
							<div class='row hoverable waves-effect' style='height:150px' onclick="gotoUrl('<%=album.external_urls.spotify%>')">
								<div class='col s4'>
									<img src='<%=album.images[1].url %>' alt="art" width="100%"/>
								</div>
								<div class='col s8'>
									<div class='row'>
										<div class='col s12'>
											Name: <%= album.name %>
										</div>
									</div>
								</div>
							</div>
							</li>
							<% }); %>
						</ul>
				</div>
			</div>
</div>
   </body>
</html>
